<div class='flex flex-col justify-center items-center gap-3 p-5 w-full h-auto text-gray-800'>
    <section class='flex flex-col justify-center items-center gap-4 px-3 w-full h-auto py-3'>
        <div class='w-full flex flex-col items-center justify-center gap-2'>
            <span class='block uppercase text-indigo-600 font-medium text-[20px]'>today's program</span>
            <h2 class='text-center text-4xl font-bold tracking-tight text-gray-800'>Shape your physique through a determined state of mind.</h2>
        </div>
        <div>Program here</div>
    </section>
</div>